<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BLLAC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>652B5DBC1E74C52900B23B15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>652B5DD01E74C52B00B23B15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>652B5DDB1E74C52B00B23B15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
